
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "OpenBlog", root_path , id: "logo"%>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="<%= root_path %>">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= contact_path %>">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= about_path%>">Contact</a>
        </li>
        <li class="nav-item">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Login <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "SignUp" %></li>
            </ul>
          </li>
        </li>
      </ul>
    </div>
  </div>
</nav>
